%h1= "Welcome Back!! #{User.find(session[:user_id]).name}"

%table{class: "table"}
	%thead
		%tr
			%th Owner
			%th Message
			%th Posted at
			%th Edit Post
			%th Delete Post
			%th #Likes
			%th Liked User
			%th 

	%tbody
		- c_user = User.find(session[:user_id])
		- d = 0
		- @display_posts.each do |post|
			%tr
				%td= User.find(post.user_id).name
				%td= post.msg
				%td= post.created_at
				- if c_user.id == post.user_id
					-# not sorted
					%td= link_to 'Edit', edit_post_url(post.id), class: "btn btn-warning btn-sm"
					%td= link_to "Destroy", post_url(post.id), method: :delete, data: {confirm: "Are you sure to delete this post?"}, class: "btn btn-danger btn-sm"
				- else
					%td= "Not Allowed"
					%td= "Not Allowed"
				%td= post.likes.length
				%td
					%button{class: "btn btn-info like_btn","data-bs-toggle" => "modal", "data-bs-target": "#liked_user", type: "button", "#likes": post.likes.length, "users": @like_user_in_each_post[d], "d": d}
						="Liked User"
				%td
					-l = Like.find_by(post_id: post.id, user_id: session[:user_id])
					- if l != nil
						-# not sorted
						%td= link_to 'UnLike', "/unlike/#{l.id}", class: "btn btn-outline-dark btn-sm"
					- else
						%td= link_to 'Like', "/like/#{post.id}", class: "btn btn-outline-success btn-sm"
			-d=d+1

.modal.fade{role: "dialog", id: "like_modal"}
	.modal-dialog.modal-dialog-scrollable
		.modal-content
			.modal-header
				%h4.modal-title Users who liked this post
				%button.btn-close{"data-bs-dismiss" => "modal", type: "button"}
			.modal-body
				%table{class: "table"}
					%thread
						%tr
							%th= "User"
					%tbody#s1
						-#%tr#line
							-#%td#row
			.modal-footer
				%button.btn.btn-danger{"data-bs-dismiss" => "modal", type: "button"} Close

%p 
	%a{href: :new_post}
		=button_tag "Create New Post", class: "btn btn-primary"


:javascript
	//homework
	//console.log("hello")
	$(".like_btn").click(function(){


		//$("#row").html($(this).attr("#likes"))
		//$("#line").append($(this).attr("users"));

		//$("#row").html($(this).attr("d"));
		console.log($(this).attr("#likes"))
		console.log($(this).attr("users"))
		console.log($(this).attr("d"))
		
		var str = $(this).attr("users");
		console.log(str)
		var arr = str.split(",")
		console.log(arr)

		tbody = $("#s1")
		tbody.empty()
		for (let i = 0; i < arr.length; i++) {
			if (str.length===0) { break; }
			tbody.append("<tr><td><a class=\"d-grid gap-2 col-6 mx-auto btn btn-outline-info\" href=\"/profile/" + arr[i] + "\">" + arr[i] + "</a></td></tr>");
		}

		//display
		var myModal = new bootstrap.Modal(document.getElementById('like_modal'), {});
		myModal.show();


	})				