%h1= "Welcome Back!! #{User.find(session[:user_id]).name}"

- flash.each do |type,msg|
	- if ["alert", "notice", "danger", "success"].include?(type)
		%div{class: "alert alert-success"}
			=msg

%table{class: "table"}
	%thead
		%tr
			%th Owner
			%th Message
			%th Posted at
			%th Edit Post
			%th Delete Post

	%tbody
		- c_user = User.find(session[:user_id])
		- @display_posts.each do |post|
			%tr
				%td= User.find(post.user_id).name
				%td= post.msg
				%td= post.created_at
				- if c_user.id == post.user_id
					-# not sorted
					%td= link_to 'Edit', edit_post_url(post.id), class: "btn btn-warning btn-sm"
					%td= link_to "Destroy", post_url(post.id), method: :delete, data: {confirm: "Are you sure to delete this post?"}, class: "btn btn-danger btn-sm"
				- else
					%td= "Not Allowed"
					%td= "Not Allowed"

%p 
	-#=button_tag 'Submit', type: 'submit', class: "btn btn-primary" ==> use to submit form data
	-#edit to post
	%a{href: :new_post}
		=button_tag "Create New Post", class: "btn btn-primary"